# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS-specific files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# local API keys and secrets
.env.local
.env.*.local

# Build output
*.tsbuildinfo

# sensitive files
*.pem
*.swp

# coverage files
etc/coverage/*.json
etc/coverage/cov_profile.lcov
